/*.png
/*cookies
/config.yml
**/.idea
**/__pycache__
/.ico
/.history
**/venv
/app.spec
**/build
**/dist
**/.VSCodeCounter/
frontend/Docs/
**/.vscode/
**/node_modules
/frontend/node_modules
/frontend/node_modules/.cache
/backend/logs
