/* styles.css */

/* todo Home按钮样式 */
#home-btn {
    position: fixed;
    top: 100px;
    left: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(to right, #dd2476, #6a11cb);
    opacity: 0.60;
}

/* 在窗口小于1632px时，调整样式 */
@media (max-width: 1632px) {
    #home-btn {
        text-indent: -9999px;
        top: 150px;
        left: 10px;
        width: 1%;
        height: 10%;
    }
}

/* 在窗口小于1256px时，调整样式 */
@media (max-width: 1256px) {
    #home-btn {
        text-indent: 0%;
        position: fixed;
        top: 100px;
        left: 20px;
        width: 100px;
        height: 38px;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 16px;
        cursor: pointer;
        transition: 0.3s;
        background: linear-gradient(to right, #dd2476, #6a11cb);
        opacity: 0.60;
    }
}

/* Home页按钮样式，动画 */
.home-btn {
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    background: linear-gradient(to right, #eb4690, #9954e2);
    opacity: 0.85;
    color: white;
    -webkit-user-select: none;
    user-select: none;
}

.hover-button {
    transition: transform 0.5s ease,
        box-shadow 0.3s ease;
}

.hover-button:hover {
    transform: scale(2) rotate(14deg);
    background-color: #7b7ce4;
    border-color: #b1b2f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: inherit;
}

.hover-button:active {
    transform: scale(0.9) rotate(14deg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}